<?xml version="1.0" encoding="utf-8"?>
<odoo>
	<data>
		<record model="ir.actions.act_window" id="setting_action">
			<field name="name">Settings</field>
			<field name="type">ir.actions.act_window</field>
			<field name="res_model">er.config</field>
			<field name="target">inline</field>
			<field name="view_mode">form</field>
		</record>
		
		<menuitem id="employeereward_setting" name="Settings" parent="employeereward_configuration_menu" action="setting_action" sequence="12"/>
		
		<!-- User reward history tree view -->
		<record model="ir.ui.view" id="setting_user_form">
			<field name="name">setting.user.form</field>
			<field name="model">er.config</field>
			<field name="arch" type="xml">
				<form class="oe_form_configuration">
					<header>
					</header>
					<group string='Manual resetting point'>
						<button name='action_reset_point' type='object' string='Reset'/>
					</group>
				</form>
			</field>
		</record>
	</data>
</odoo>
